<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "wrap">
        <div class = "left_column">
            <div class = "img_banner">
                img banner
            </div>
    
            <div class = "decription">
                img banner
            </div>

        </div>


        <div class = "right_column">
       
            <div class = "comment_input">
                img banner
            </div>

            <div class = "commnet_view">
                img banner
            </div>         
        </div>
    </div>
</body>
</html>