<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>차좀타볼카</title>
    <style>
        .main1 {
            width: 1000px;
            margin: auto;
        }

        .main1_left {
            width: 30%;
            float: left;
            box-sizing: border-box;
        }

        .main1_right {
            width: 70%;
            float: right;
            box-sizing: border-box;
        }

        .main2 {
            width: 1080px;
            margin: auto;
            display: grid;
            gap: 10px; /* 자식요소간의 간격 */
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .main3 {
            width: 1080px;
            margin: auto;
            gap: 10px; /* 자식요소간의 간격 */
        }

        .carimage {
            background-color: red;
            margin: auto;
        }

        element.style {
        }

        .keyvisual-wrap[data-v-8136f914] .el-carousel__unit img {
            max-width: 100%;
            width: 100%;
        }

        img {
            border-style: none;
        }

        * {
            margin: 0;
            padding: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

    </style>
    <script>
        $(document).ready(function () {
        });

        // 캐러셀 조작
        $('.carousel').carousel({
            interval: 2000, //시간
            wrap: true //영구 반복
        })

        //키워드 클릭 시 카드 띄우기
        function keyword(data) {
            $('#cards').empty();
            $.ajax({
                // main/type에서 recipe db가져오기
                type: "GET",
                url: "/main/type",
                data: {"type": data},
                success: function (response) {
                    let keyword = JSON.parse(response['menu_card']) //dump()로 변환한 문자열을 JSON.parse로 가져오기
                    for (let i = 0; i < keyword.length; i++) {
                        let img = keyword[i]['image']
                        let title = keyword[i]['title']
                        let id = keyword[i]['_id']['$oid']
                        let temp_html = `<li class="card-box">
                                            <a href="/detail?id=${id}">
                                                <div class="card-image">
                                                    <img src="${img}" alt="...">
                                                </div>
                                                <p class="card-txt" id="tile_name">${title}</p>
                                            </a>
                                        </li>`
                        $('#cards').append(temp_html)
                    }
                }
            })
        }

        const toTopEl = document.querySelector('#to-top');
        toTopEl.addEventListener('click', function () {
            gsap.to(window, .7, {
                scrollTo: 0
            });
        });

        response["cars"][seadan][0]
        let rows = response1let
        index = rows["index"]
        let carname = rows["carname"]
        let url = rows["이미지"]
        num = db.list.find.legth() + 1

.cars {
    {sedan : [
                    {index : num , carname : '2022 쉐보레 말리부' , image : 'https://search.pstatic.net/common?type=f&size=298x140&quality=95&direct=true&ttype=input&src=https%3A%2F%2Fimgauto-phinf.pstatic.net%2F20200317_149%2Fauto_158441215563534vJP_PNG%2F20200317112906_KlEldE82.png'} ,
            ]},

    {hatchback : [
                    {index : num, carname : '2022 쉐보레 볼트 EV', image : 'https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fimgauto-phinf.pstatic.net%2F20210811_95%2Fauto_1628645625080eafi7_PNG%2F20210811103322_kc5Q7fW3.png'},
                    {index : num, carname : '2022 쉐보레 스파크', image : 'https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fimgauto-phinf.pstatic.net%2F20210730_48%2Fauto_16276141785543E5Sz_PNG%2F20210730120243_imLcTkGD.png'}
                ]},

    {suv : [
                {index : num , carname : '2022 쉐보레 트래버스' , image : 'https://search.pstatic.net/common?type=f&size=298x140&quality=95&direct=true&ttype=input&src=https%3A%2F%2Fimgauto-phinf.pstatic.net%2F20200317_149%2Fauto_158441215563534vJP_PNG%2F20200317112906_KlEldE82.png'} ,
                {index : num , carname : '2022 쉐보레 볼트 EUV' , image : 'https://search.pstatic.net/common?type=f&size=298x140&quality=95&direct=true&ttype=input&src=https%3A%2F%2Fimgauto-phinf.pstatic.net%2F20210811_188%2Fauto_1628646523272EVtVT_PNG%2F20210811104832_sEcRInMr.png'} ,
                {index : num , carname : '2022 쉐보레 트랙스' , image : 'https://search.pstatic.net/common?type=f&size=298x140&quality=95&direct=true&ttype=input&src=https%3A%2F%2Fimgauto-phinf.pstatic.net%2F20210118_103%2Fauto_1610958494862sN41i_PNG%2F20210118172759_OfNcQMKz.png'} ,
                {index : num , carname : '2022 쉐보레 트레일블레이저' , image : 'https://search.pstatic.net/common?type=f&size=298x140&quality=95&direct=true&ttype=input&src=https%3A%2F%2Fimgauto-phinf.pstatic.net%2F20201221_10%2Fauto_1608521041592E4DT8_PNG%2F20201221122342_sIHByu3s.png'}
          ]},

    {truck: [
                {index : num , carname : '2022 쉐보레 콜로라도' , image : 'https://search.pstatic.net/common?type=f&size=298x140&quality=95&direct=true&ttype=input&src=https%3A%2F%2Fimgauto-phinf.pstatic.net%2F20211206_48%2Fauto_1638770256656QvULO_PNG%2F20211206145727_kcRlMkpK.png'} ,
           ]},

    {coupe: [
                {index : num , carname : '2021 쉐보레 카마로' , image : 'https://search.pstatic.net/common?type=f&size=298x140&quality=95&direct=true&ttype=input&src=https%3A%2F%2Fimgauto-phinf.pstatic.net%2F20201026_28%2Fauto_1603678707125ddP3Y_PNG%2F20201026111817_QpzGDbPw.png'} ,
           ]},
    }
    </script>

</head>
<body>
<div class="main1">
    <div class="main1_left">
        <img src="https://www.chevrolet.co.kr/httpobject/images/common/chevrolet.jpg" width=300px>
    </div>
    <div class="main1_right">
        <img src="https://www.chevrolet.co.kr/httpobject/images/campaign/2022-newstart-raq/index/index_h1.jpg"
             width=740px>
    </div>
</div><br>
<br><br><br><br><br><br><br><br><br><br><br>


<div class="main2">
    <div>
        <button onclick="keyword('전체')" type="button" class="btn btn-light" id="all">전체</button>
        <button onclick="keyword('#세단')" type="button" class="btn btn-light" id="sedan">#세단</button>
        <button onclick="keyword('#해치백')" type="button" class="btn btn-light" id="hatchback">#해치백</button>
        <button onclick="keyword('#SUV')" type="button" class="btn btn-light" id="suv">#SUV</button>
        <button onclick="keyword('#쿠페')" type="button" class="btn btn-light" id="Coupe">#쿠페</button>
        <button onclick="keyword('#트럭')" type="button" class="btn btn-light" id="truck">#트럭</button>
    </div>
</div>

<div class="main3">

    <ul id="cards">
        {% for recipe in recipe_list %}
            <li class="card-box">
                <a href="/detail?id={{ recipe._id }}">
                    <div class="car-image">
                        <img src="{{ recipe.image }}" alt="...">
                    </div>
                    <p class="card-txt">{{ recipe.title }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>

    <div align="left">
        <button onclick={{ url_for('/malibu') }} , window.location,localstorage.get(index)>자동차이름</button>
    </div>
    <div align="center" class="carimage">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.chevrolet.co.kr/httpobject/images/new_carinfo/masthead/spark12_1_1.jpg"
                         class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.chevrolet.co.kr/httpobject/images/new_carinfo/masthead/colorado4_1_1.jpg"
                         class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.chevrolet.co.kr/httpobject/images/new_carinfo/masthead/camaro1_1_1.jpg"
                         class="d-block w-100" alt="...">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div align="right">
        <button onclick={{ url_for('/malibu') }} , window.location,localstorage.get(index)>자세히보기</button>
    </div>
</div>

</body>
</html>
