/* bluma import */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"; 

html {
    margin: 0;
    padding: 0;
}

header {
    top: 0;
}

body {
    overflow-y: hidden; 
    margin: 0;
    padding: 0;
}

.nav__logo {
    font-size: 40px;
  }
  .nav__logo_a {
    padding: 0;
    margin : 0;
    display: block;
    width: 120px;
    height: 60px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),url(https://cdn.motor1.com/images/mgl/W0vnr/s3/purported-mid-engined-corvette-c8-official-logo.jpg);
    background-position: center;
    background-size: cover;
  }
  .nav {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 3;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    background-color:black;
    justify-content: space-between;
  }
  .primary-navigation-login {
    display: inline-block;
  }

  ul li {
    float: right; 
  }

  .navigation-login_a {
    display: block;
    color: white;
    text-align: center;
    width: 120px;
    height:60px;
    padding-top: 12.5%;
    font-size: 20px;
  }
  .navigation-login_a:hover {
    color: white;
    font: bold;
  }
  .navigation-join_a {
    text-align: center;
    display: block;
    color: white;
    width: 120px;
    height:60px;
    padding-top: 12.5%;
    font-size: 20px;
  }
  .navigation-join_a:hover {
    color: white;
    font: bold;
  }

.wrap_flex_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

/* 가로가 min-width 이상일 때의 조건 */
@media (min-width: 600px) {
    .column1_container {
        width: 55vw;
        height: 97vh;
        -webkit-order: 1;
        order: 1;
        margin:0% 1% 0% 0%;
    }

    .column2_container {
        width: 45vw;
        height: 100vh;
        -webkit-order: 2;
        order: 2;
        margin:0% 0% 0% -1%;
    }
}

/* 가로가 max-width 아하일 때의 조건 */
@media (max-width: 1000px) { 
    .column1_container {
        width: 100vw;
        height: 50vh;
    }

    .column2_container {
        width: 100vw;
        height: 50vh;
    }
}


.column1_container>.img_box {
    margin: 0 0 0 0;
    height: 43%;
    width: 100%;

}


.column1_container>.desc {
    margin: 0 0 0 0;
    height: 60%;
    width: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),url(https://t1.daumcdn.net/cfile/tistory/2163FF3C579613890C);
    background-position: center;
    background-size: cover;
}
.column2_container {
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),url(https://t1.daumcdn.net/cfile/tistory/992FAA365C207FEA0E);
    background-position: center;
    background-size: cover;
    
}

.column2_container>.comment_input {
    margin: 2% auto 1% auto;
    height: 20%;
    width: 90%;
    color:white;    
}
.column2_container>.comment_container {
    margin: 9% auto 1% auto;
    height: 75%;
    width: 90%;
    color:white;    
    overflow: auto;
}

.content > p > strong {
    color:white;
}


.img_box > img {
    width: 100%;
    height: 100%;
}

.desc__form > .desc__name {
    margin : 0 0 1% 3% ;
    font-size:44px;
    color: white;
}